<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>@ViewData["Title"] - ToracGolf</title>

    <script type="text/javascript">
        var _rootDir = "@Url.Content("~/")";
    </script>

    @*<environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
                  asp-fallback-href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"
                  asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        </environment>*@
    <!-- Torac Golf Site Level Styles -->
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- Essential styles -->
    <link rel="stylesheet" href="~/lib/bootstraptemplate/assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/bootstraptemplate/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/bootstraptemplate/assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen">

    <!-- Boomerang styles -->
    <link id="wpStylesheet" type="text/css" href="~/lib/bootstraptemplate/css/global-style.css" rel="stylesheet" media="screen">

    <!-- Favicon -->
    <link href="images/favicon.png" rel="icon" type="image/png">

    <!-- Assets -->
    <link rel="stylesheet" href="~/lib/bootstraptemplate/assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/lib/bootstraptemplate/assets/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="~/lib/bootstraptemplate/assets/sky-forms/css/sky-forms.css">

    <!-- Page styles -->
    @RenderSection("Styles", required: false)

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="assets/sky-forms/css/sky-forms-ie8.css">
    <![endif]-->
    <!-- Required JS -->
    <script src="~/lib/bootstraptemplate/js/jquery.js"></script>
    <script src="~/lib/bootstraptemplate/js/jquery-ui.min.js"></script>
</head>
<body>

    <!-- MODALS -->
    <!-- MOBILE MENU - Option 2 -->
    <section id="navMobile" class="aside-menu left">
        <form class="form-horizontal form-search">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button id="btnHideMobileNav" class="btn btn-close" type="button" title="Hide sidebar"><i class="fa fa-times"></i></button>
                </span>
            </div>
        </form>
        <div id="dl-menu" class="dl-menuwrapper">
            <ul class="dl-menu"></ul>
        </div>
    </section>

    <!-- MAIN WRAPPER -->
    <div class="body-wrap">

        <!-- HEADER -->
        <div id="divHeaderWrapper">
            <header class="header-standard-2">
                @RenderSection("TopNav", true)
            </header>
        </div>

        <!-- SUB HEADER ROW -->
        <div class="pg-opt">
            <div class="container">
                <div id="OptHeaderRow" class="row">
                    <div id="HandicapStatusDiv" class="col-sm-6">
                        @RenderSection("HandicapStatus", false)
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb">
                            @RenderSection("Breadcrumb", true)
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        @Html.Partial("_Footer")
    </div>

    <!-- Loading Image -->
    @Html.Partial("_Loading")

    <!-- Essentials -->
    <script src="~/lib/bootstraptemplate/js/modernizr.custom.js"></script>
    <script src="~/lib/bootstraptemplate/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstraptemplate/js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="~/lib/bootstraptemplate/js/jquery.easing.js"></script>
    <script src="~/lib/bootstraptemplate/js/jquery.metadata.js"></script>
    <script src="~/lib/bootstraptemplate/js/jquery.hoverup.js"></script>
    <script src="~/lib/bootstraptemplate/js/jquery.hoverdir.js"></script>
    <script src="~/lib/bootstraptemplate/js/jquery.stellar.js"></script>

    <!-- Boomerang mobile nav - Optional  -->
    <script src="~/lib/bootstraptemplate/assets/responsive-mobile-nav/js/jquery.dlmenu.js"></script>
    <script src="~/lib/bootstraptemplate/assets/responsive-mobile-nav/js/jquery.dlmenu.autofill.js"></script>

    <!-- Forms -->
    <script src="~/lib/bootstraptemplate/assets/ui-kit/js/jquery.powerful-placeholder.min.js"></script>
    <script src="~/lib/bootstraptemplate/assets/ui-kit/js/cusel.min.js"></script>
    <script src="~/lib/bootstraptemplate/assets/sky-forms/js/jquery.form.min.js"></script>
    <script src="~/lib/bootstraptemplate/assets/sky-forms/js/jquery.validate.min.js"></script>
    <script src="~/lib/bootstraptemplate/assets/sky-forms/js/jquery.maskedinput.min.js"></script>
    <script src="~/lib/bootstraptemplate/assets/sky-forms/js/jquery.modal.js"></script>

    <!-- Assets -->
    <script src="~/lib/bootstraptemplate/assets/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/lib/bootstraptemplate/assets/page-scroller/jquery.ui.totop.min.js"></script>
    <script src="~/lib/bootstraptemplate/assets/mixitup/jquery.mixitup.js"></script>
    <script src="~/lib/bootstraptemplate/assets/mixitup/jquery.mixitup.init.js"></script>
    <script src="~/lib/bootstraptemplate/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script src="~/lib/bootstraptemplate/assets/waypoints/waypoints.min.js"></script>
    <script src="~/lib/bootstraptemplate/assets/milestone-counter/jquery.countTo.js"></script>
    <script src="~/lib/bootstraptemplate/assets/easy-pie-chart/js/jquery.easypiechart.js"></script>
    <script src="~/lib/bootstraptemplate/assets/social-buttons/js/rrssb.min.js"></script>
    <script src="~/lib/bootstraptemplate/assets/nouislider/js/jquery.nouislider.min.js"></script>
    <script src="~/lib/bootstraptemplate/assets/owl-carousel/owl.carousel.js"></script>
    <script src="~/lib/bootstraptemplate/assets/bootstrap/js/tooltip.js"></script>
    <script src="~/lib/bootstraptemplate/assets/bootstrap/js/popover.js"></script>

    <!-- Sripts for individual pages, depending on what plug-ins are used -->
    <!-- Boomerang App JS -->
    <script src="~/lib/bootstraptemplate/js/wp.app.js"></script>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    @*Temp -- You can remove this once you started to work on your project
        <script src="~/lib/bootstraptemplate/js/jquery.cookie.js"></script>*@

    @*<environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/hammer.js/hammer.js"></script>
            <script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                    asp-fallback-src="~/lib/hammer.js/hammer.js"
                    asp-fallback-test="window.Hammer">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                    asp-fallback-src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"
                    asp-fallback-test="window.Hammer && window.Hammer.Instance">
            </script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>*@

    @RenderSection("Scripts", required: false)

</body>
</html>