@{
    Layout = "_ToracGolfLayout";
    ViewBag.Title = "Course Listing";
}
@model  ToracGolf.ViewModels.Courses.CourseListingViewModel

@section Breadcrumb{
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)
}

@section TopNav{
    @Html.Partial("_TopNav", new ToracGolf.ViewModels.Navigation.TopNavViewModel(true))
}

@section PageDescription{
    Course Listing
}

@section Styles{
    <link href="~/css/Courses.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/jlinq/jlinq.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular/angular-animate.js"></script>
    <script src="~/js/angular/toracgolfapp.js"></script>
    <script src="~/js/angular/common/ValidationService.js"></script>
    <script src="~/js/angular/courses/coursehttp.js"></script>
    <script src="~/js/angular/courses/courselistingcontroller.js"></script>
}

<section ng-cloak class="slice bg-white" ng-app="toracApp" ng-controller="CourseListingController" ng-init="init(@Model.TotalPagesOfCourses, @Newtonsoft.Json.JsonConvert.SerializeObject(Model.SortOrder), '@Model.UserStatePreference')">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wp-block default product-list-filters light-gray">
                        <ul class="pagination pagination pull-left" ng-hide="@Model.TotalPagesOfCourses == 1">
                            <li><a ng-click="PagerClick(0)" hidefocus="true">«</a></li>

                            <li ng-class="pageId == CurrentPageId ?'active':''" ng-repeat="pageId in PagerElements track by pageId">
                                <a hidefocus="true" ng-click="PagerClick($index)">{{pageId + 1}}</a>
                            </li>

                            <li><a ng-click="PagerClick(TotalNumberOfPages - 1)" hidefocus="true">»</a></li>
                        </ul>
                        <div class="filter sort-filter pull-right">
                            <label>Sort by</label>
                            <select ng-model="SortBy" ng-change="FetchAPageOfData(true)">
                                <option value="{{option.Value}}" ng-repeat="option in SortByLookup" ng-selected="option.Value == SortBy">
                                    {{option.Description}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">


                <div class="col-md-8">
                    <ul class="list-listings-2" ng-repeat="course in PagedData track by course.CourseData.Name">
                        <li class="featured">
                            <div class="listing-header bg-base">
                                {{course.CourseData.Name}}
                            </div>
                            <div class="listing-image">
                                <img ng-src="data:image/png;base64,{{course.CourseImage.CourseImage}}" class="img-responsive CourseListingImage CourseListingHeight" alt="">
                                <a href="#" class="btn btn-lg btn-square btn-base btn-block-bm btn-icon btn-icon-go">See more</a>
                            </div>
                            <div class="cell">
                                <div class="listing-body clearfix CourseListingHeight">
                                    <h3><a href="#">{{course.CourseData.Name}}</a></h3>
                                    <h4>{{course.CourseData.City}}, {{course.StateDescription}}</h4>
                                    <p>
                                        {{course.CourseData.Description}}
                                    </p>
                                </div>
                                <div class="listing-footer">
                                    <ul class="aux-info">
                                        <li><i class="fa fa-calendar"></i><strong>Date:</strong> 23 July</li>
                                        <li><i class="fa fa-user"></i><strong>Jobs:</strong> 33 Jobs</li>
                                        <li><i class="fa fa-globe"></i><strong>City:</strong> London</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="col-md-4">
                    <div class="sidebar">
                        @*<ul class="categories mb-20">
                            <li><a href="#">Web design (23)</a></li>
                            <li><a href="#">Online business (100)</a></li>
                            <li><a href="#">Marketing strategy (7)</a></li>
                            <li><a href="#">Technology (33)</a></li>
                            <li><a href="#">About finance (123)</a></li>
                        </ul>*@
                        <div class="panel panel-default panel-sidebar-1">
                            <div class="panel-heading"><h2>Filter by</h2></div>
                            <div class="panel-body">
                                <form class="form-light" role="form">
                                    <div class="form-group">
                                        <label>Search For Course</label>
                                        <input type="text" ng-model="SearchByCourseName" class="form-control" placeholder="I want to find...">
                                    </div>
                                    <div class="form-group">
                                        <label>State</label>
                                        <select class="form-control" ng-model="StateFilter" ng-change="FetchAPageOfData(true)">
                                            @foreach (var stateToAdd in Model.StateListing)
                                            {
                                                <option value="@stateToAdd.Value">@stateToAdd.Text</option>
                                            }
                                        </select>
                                    </div>
                                    <button type="submit" ng-click="FetchAPageOfData(true)" class="btn btn-base">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>