@{
    Layout = "_ToracGolfLayout";
    ViewBag.Title = "Add A Course";
}
@model  ToracGolf.ViewModels.Courses.CourseAddViewModel

@section Breadcrumb{
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)
}

@section TopNav{
    @Html.Partial("_TopNav", new ToracGolf.ViewModels.Navigation.TopNavViewModel(true))
}

@section PageDescription{
    Add A New Course
}

@section Styles{
    <link href="~/css/Courses.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/jlinq/jlinq.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular/angular-animate.js"></script>
    <script src="~/js/angular/toracgolfapp.js"></script>
    <script src="~/js/angular/common/modaldirective.js"></script>
    <script src="~/js/angular/common/numberonlydirective.js"></script>
    <script src="~/js/angular/common/ValidationService.js"></script>
    <script src="~/js/angular/common/filereaderfactory.js"></script>
    <script src="~/js/angular/courses/coursehttp.js"></script>
    <script src="~/js/angular/courses/courseaddcontroller.js"></script>
}

@*add the save successfully dialog*@
@*@Html.Partial("_Dialog", new ToracGolf.ViewModels.Dialogs.DialogViewModel("CourseSaveDialog", "Saved Successfully", "Your Course Has Been Saved Successfully.", new ToracGolf.ViewModels.Dialogs.DialogButton[]
    {
      new ToracGolf.ViewModels.Dialogs.DialogButton("Ok", "btn-default btn-primary", true)
    }))*@



@*so init is a method in my angular controller. we serialize the model and pass it into that method which set's the scope*@
<section ng-app="toracApp" ng-controller="CourseAddController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.CourseAddUserEntered))" class="slice slice-lg bg-image" style="background-image:url(images/backgrounds/LogInBackground.png);">

    <modal title="Saved Succesfully" showdialog="ShowSavedSuccessfulModal" bodyhtml="Your Course Has Been Saved Successfully." closebuttontext="Ok" onmodalcloseevent="SaveACourseDialogOkEvent()">

    </modal>

    <div id="EditTeeLocation" class="wp-section sky-form" ng-cloak ng-show="ViewMode=='EditTeeLocation'">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="wp-block default user-form user-form-alpha no-margin" style="padding-bottom:10px;">
                        <div class="form-header">
                            <h2>{{TeeLocationTitle}}</h2>
                        </div>

                        <div class="form-body">
                            <section>
                                <label class="label">Description</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="TeeLocationDescription" maxlength="50" ng-model="TempTeeLocation.Description" ng-keyup="DefaultTeeButton($event)" />
                                </label>
                            </section>
                            <section>
                                <label class="label">Total Yardage</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" numbers-only numbers-only-allowOnlyInts="true" name="Total Yardage" ng-model="TempTeeLocation.Yardage" ng-keyup="DefaultTeeButton($event)" maxlength="4" />
                                </label>
                            </section>
                            <section>
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <label class="label">Front 9 Par</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            <input type="text" name="Front9Par" numbers-only numbers-only-allowOnlyInts="true" ng-model="TempTeeLocation.Front9Par" ng-keyup="DefaultTeeButton($event)" maxlength="2" />
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <label class="label">Back 9 Par</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            <input type="text" name="Back9Par" numbers-only numbers-only-allowOnlyInts="true" ng-model="TempTeeLocation.Back9Par" ng-keyup="DefaultTeeButton($event)" maxlength="2" />
                                        </label>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <label class="label">Rating</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            <input type="text" name="Rating" numbers-only numbers-only-allowOnlyInts="false" ng-model="TempTeeLocation.Rating" ng-keyup="DefaultTeeButton($event)" maxlength="5" />
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <label class="label">Slope</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            <input type="text" name="Slope" numbers-only numbers-only-allowOnlyInts="false" ng-model="TempTeeLocation.Slope" ng-keyup="DefaultTeeButton($event)" maxlength="5" />
                                        </label>
                                    </div>
                                </div>
                            </section>
                            <section>
                                @Html.Partial("_ValidationSummaryAngular")
                            </section>
                            <section>
                                <button id="EditTeeLocationCancel" ng-click="CancelTeeLocation()" class="btn btn-base btn-icon btn-icon-right btn-sign-in pull-right" type="button">
                                    <span>Cancel</span>
                                </button>
                                <button id="EditTeeLocationSave" ng-click="SaveTeeLocation()" class="btn btn-base btn-icon btn-icon-right btn-sign-in pull-right" type="button">
                                    <span>Save</span>
                                </button>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="AddCourse" class="wp-section" ng-show="ViewMode=='AddCourse'">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="wp-block default user-form user-form-alpha no-margin">
                        <div class="form-header">
                            <h2>Add A New Course</h2>
                        </div>
                        <div class="form-body">
                            <form id="frmAddACourse" method="post" ng-submit="SaveACourse()" class="sky-form">
                                <input type="hidden" name="__RequestVerificationToken" value="@(Model.TokenSet.CookieToken + ":" + Model.TokenSet.FormToken)" />
                                <fieldset>
                                    <section>
                                        <label asp-for="CourseAddUserEntered.CourseName" class="label"></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            <input type="text" name="CourseName" maxlength="100" ng-model="model.CourseName" />
                                            <span asp-validation-for="CourseAddUserEntered.CourseName" class="text-danger"></span>
                                        </label>
                                    </section>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <label asp-for="CourseAddUserEntered.Location" class="label"></label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-user"></i>
                                                    <input type="text" name="Location" ng-model="model.Location" maxlength="100" />
                                                    <span asp-validation-for="CourseAddUserEntered.Location" class="text-danger"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <label asp-for="CourseAddUserEntered.StateListing" class="label"></label>
                                                <label class="select">
                                                    <select name="StateListing" ng-model="model.StateListing" asp-for="CourseAddUserEntered.StateListing" asp-items="Model.StateListing"></select>
                                                </label>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <label asp-for="CourseAddUserEntered.Description" class="label"></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            <input type="text" name="CourseName" maxlength="200" ng-model="model.Description" />
                                            <span asp-validation-for="CourseAddUserEntered.Description" class="text-danger"></span>
                                        </label>
                                    </section>
                                    <section>
                                        <label>Course Picture</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            <input id="CoursePicture" type="file" name="CoursePicture" />
                                        </label>
                                    </section>
                                    <section>
                                        <label asp-for="CourseAddUserEntered.OnlyAllow18Holes" class="label" style="display:inline-block;"></label>
                                        <input type="checkbox" name="OnlyAllow18Holes" ng-model="model.OnlyAllow18Holes" />
                                    </section>
                                    <hr />
                                    <section>
                                        <span ng-show="model.TeeLocations.length == 0">
                                            No Tee Boxes Specified
                                        </span>

                                        <table ng-show="model.TeeLocations.length > 0" ng-cloak class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Description</th>
                                                    <th>Par</th>
                                                    <th>Slope</th>
                                                    <th>Rating</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="teeBox in model.TeeLocations track by teeBox.Description">
                                                    <td ng-click="EditTeeLocation($index)" class="IsFakeLink">{{teeBox.Description}}</td>
                                                    <td ng-click="EditTeeLocation($index)" class="IsFakeLink">{{teeBox.Par()}}</td>
                                                    <td ng-click="EditTeeLocation($index)" class="IsFakeLink">{{teeBox.Slope}}</td>
                                                    <td ng-click="EditTeeLocation($index)" class="IsFakeLink">{{teeBox.Rating}}</td>
                                                    <td ng-click="DeleteTeeLocation($index)"><span class="glyphicon glyphicon-trash IsFakeLink DeleteTeeLocation" aria-hidden="true"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </section>
                                    <section>
                                        @Html.Partial("_ValidationSummaryAngular")
                                    </section>
                                    <section>
                                        <button class="btn btn-base btn-icon btn-icon-right btn-sign-in pull-right" type="submit">
                                            <span>Save</span>
                                        </button>

                                        <button id="EditTeeLocation" ng-click="AddTeeLocation()" class="btn btn-base btn-icon btn-icon-right btn-sign-in pull-right" type="button">
                                            <span>Add Tee Location</span>
                                        </button>
                                    </section>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
