@{
    Layout = "_ToracGolfLayout";
    ViewBag.Title = "Course Stats";
}
@model  ToracGolf.ViewModels.Courses.CourseStatsViewModel

@section Breadcrumb{
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)
}

@section TopNav{
    @Html.Partial("_TopNav", new ToracGolf.ViewModels.Navigation.TopNavViewModel(true))
}

@section HandicapStatus{
    @Html.Partial("_HandicapStatus", Model.HandicapStatus)
}

@section Styles{
    <link href="~/css/courses.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/highcharts/js/highcharts.js"></script>
    <script src="~/lib/highcharts/js/highcharts-3d.js"></script>
    <script src="~/lib/highcharts/js/modules/exporting.js"></script>
    <script src="~/js/common/ajaxcommon.js"></script>
    <script src="~/lib/toraclibrary/toracajax.js"></script>
    <script src="~/lib/react/react.js"></script>
    <script src="~/lib/react/react-dom.js"></script>
    <script src="~/js/react/common/reactformatting.js"></script>
    <script src="~/js/react/courses/coursestats.js"></script>
}

<script type="text/javascript">
    $(document).ready(function () {
        InitReact(@Html.Raw(Json.Serialize(Model.CourseRecord.TeeBoxLocations)), @Html.Raw(Json.Serialize(Model.CondensedStats.QuickStats)), @Html.Raw(Json.Serialize(Model.CondensedStats.ScoreGraphData)));

        $('[data-toggle=tab]').click(function(){
            setTimeout(function(){
                //resize the window so highcharts adjust correcty
                $(window).trigger('resize');
            }, 500);
        });
    });
</script>

<section id="CourseStatsSection" class="slice slice-lg bg-image">
    @Html.Partial("_AngularTokenSet", Model.TokenSet)
    <input id="CourseId" type="hidden" value="@Model.CourseRecord.CourseId" />
    <section class="slice bg-white bb">
        <div class="wp-section estate">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><h3>@Model.CourseRecord.CourseName</h3></div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery">
                                    <div class="primary-image">
                                        @*<a href="images/prv/estate/item-1.jpg" class="theater" rel="group" hidefocus="true">*@
                                        <img src="@Model.CourseRecord.CourseImageUrl" class="img-responsive" alt="Course Image">
                                        @*</a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="product-info">
                                    <div class="wp-block property list no-border">
                                        <div class="wp-block-content clearfix">
                                            <h4 class="content-title">@Model.CourseRecord.CourseCity, @Model.CourseRecord.CourseState</h4>
                                            <p class="description mb-15">@Model.CourseRecord.CourseDescription</p>
                                            <span class="pull-left">
                                                <span class="price">$230</span>
                                                <span class="period">per month</span>
                                            </span>
                                            <span class="pull-right">
                                                <span class="capacity">
                                                    <i class="fa fa-user"></i>
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </span>
                                        </div>
                                        <div id="CondensedStats" class="wp-block-footer style2 mt-15">
                                            @*React ify it*@
                                        </div>
                                    </div>
                                    <div class="rating pull-left">
                                        <span class="star voted" rel="1"></span>
                                        <span class="star voted" rel="2"></span>
                                        <span class="star voted" rel="3"></span>
                                        <span class="star voted" rel="4"></span>
                                        <span class="star" rel="5"></span>
                                    </div>
                                    <span class="review-rating pull-left" style="margin-left:15px;">
                                        <a href="" hidefocus="true">Read all 23 reviews</a> or
                                        <a href="" hidefocus="true">Share you oppinion</a>

                                    </span>
                                    <span class="clearfix"></span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>

                                </div>
                            </div>
                        </div>

                        <!-- PROPERTY DESCRIPTION -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tabs-framed boxed">
                                    <ul class="tabs clearfix">
                                        <li class="active"><a href="#tab-TeeBoxes" data-toggle="tab" aria-expanded="true">Tee Boxes</a></li>
                                        <li><a href="#tab-Scores" data-toggle="tab" aria-expanded="false">Scores</a></li>
                                        <li><a href="#tab-Putts" data-toggle="tab" aria-expanded="false">Putts</a></li>
                                        <li><a href="#tab-FairwaysHit" data-toggle="tab" aria-expanded="false">Fairways Hit</a></li>
                                        <li><a href="#tab-GIR" data-toggle="tab" aria-expanded="false" title="Greens In Regulation">GIR</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="tab-TeeBoxes">
                                            <div class="tab-body">
                                                <div class="section-title-wr">
                                                    <h3 class="section-title left">Tee Box Information</h3>
                                                </div>

                                                <div id="TabDataTeeBox"></div>
                                                @*this gets rendered by react*@
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="tab-Scores">
                                            <div id="ScoreDivContainer" class="tab-body">
                                                @*this gets rendered by react*@
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-Putts">
                                            <div class="tab-body"></div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-FaiwaysHit">
                                            <div class="tab-body"></div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-GIR">
                                            <div class="tab-body"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sidebar">
                            <!-- FILTERS -->
                            <div class="panel panel-default panel-sidebar-1">
                                <div class="panel-heading"><h2>Filter by</h2></div>
                                <div class="panel-body">
                                    <form class="form-light" role="form">

                                        <div class="form-group">
                                            <label>Season</label>
                                            <select id="SeasonSelect" class="form-control ReRunQuery">
                                                @foreach (var stateToAdd in Model.UserSeasons)
                                                {
                                                    <option value="@stateToAdd.Value">@stateToAdd.Text</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Tee Boxes</label>
                                            <select id="TeeBoxSelect" class="form-control ReRunQuery">
                                                @foreach (var teeBoxToAdd in Model.TeeBoxLocations)
                                                {
                                                    <option value="@teeBoxToAdd.Value">@teeBoxToAdd.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- RECENT ROUNDS -->
                            <div class="panel panel-default panel-sidebar-1">
                                <div class="panel-heading"><h2>Recent Rounds</h2></div>
                                <div class="panel-body">
                                    <ul class="featured featured-vertical">
                                        <li>
                                            @*<img src="images/prv/estate/item-1.jpg" alt="">*@
                                            <div class="featured-content">
                                                <h3 class="title">
                                                    <a href="#" hidefocus="true">3015 Grand Avenue, CocoWalk</a>
                                                </h3>
                                                <span class="star-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-full"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                                <div class="table no-margin">
                                                    <div class="price-wr width-50">
                                                        <span class="price">$2300</span>
                                                        <span class="period">per month</span>
                                                    </div>
                                                    <div class="">
                                                        <span class="capacity">
                                                            <i class="fa fa-user"></i>
                                                            <i class="fa fa-user"></i>
                                                            <i class="fa fa-user"></i>
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            @*<img src="images/prv/estate/item-2.jpg" alt="">*@
                                            <div class="featured-content">
                                                <h3 class="title">
                                                    <a href="#" hidefocus="true">3015 Grand Avenue, CocoWalk</a>
                                                </h3>
                                                <span class="star-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-full"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                                <div class="table no-margin">
                                                    <div class="price-wr width-50">
                                                        <span class="price">$2300</span>
                                                        <span class="period">per month</span>
                                                    </div>
                                                    <div class="">
                                                        <span class="capacity">
                                                            <i class="fa fa-user"></i>
                                                            <i class="fa fa-user"></i>
                                                            <i class="fa fa-user"></i>
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            @*<img src="images/prv/estate/item-3.jpg" alt="">*@
                                            <div class="featured-content">
                                                <h3 class="title">
                                                    <a href="#" hidefocus="true">3015 Grand Avenue, CocoWalk</a>
                                                </h3>
                                                <span class="star-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-full"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                                <div class="table no-margin">
                                                    <div class="price-wr width-50">
                                                        <span class="price">$2300</span>
                                                        <span class="period">per month</span>
                                                    </div>
                                                    <div class="">
                                                        <span class="capacity">
                                                            <i class="fa fa-user"></i>
                                                            <i class="fa fa-user"></i>
                                                            <i class="fa fa-user"></i>
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>