@{
    Layout = "_ToracGolfLayout";
    ViewBag.Title = "Season Listing";
}
@model ToracGolf.ViewModels.Season.SeasonListingViewModel

@section Breadcrumb{
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)
}

@section TopNav{
    @Html.Partial("_TopNav", new ToracGolf.ViewModels.Navigation.TopNavViewModel(true))
}

@section HandicapStatus{
    @Html.Partial("_HandicapStatus", Model.HandicapStatus)
}

@section Styles{
    <link href="~/css/Seasons.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/jlinq/jlinq.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular/angular-animate.js"></script>
    <script src="~/js/angular/toracgolfapp.js"></script>
    <script src="~/js/angular/common/modaleventdirective.js"></script>
    <script src="~/js/angular/common/httprequestinterceptor.js"></script>
    <script src="~/js/angular/common/ValidationService.js"></script>
    <script src="~/js/angular/Season/SeasonHttp.js"></script>
    <script src="~/js/angular/Season/SeasonListingController.js"></script>
}

<section ng-cloak class="slice bg-white" ng-app="toracApp" ng-controller="SeasonListingController" ng-init="init(@Model.CurrentSeasonId)">
    @Html.Partial("_AngularTokenSet", Model.TokenSet)

    <div class="modal fade" modalevent showdialog="DeleteSeasonModalShow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Archive Season?</h4>
                </div>
                <div class="modal-body">
                    Are You Sure You Want To Archive This Season? <br />
                    There Are <b>{{NumberOfRoundsAssociatedWithThisSeason}}</b> Rounds In This Season That Will Be Deleted.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default btn-danger" ng-click="ArchiveASeasonConfirm()">Archive</button>
                </div>
            </div>
        </div>
    </div>

    <div class="wp-section">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <ul class="list-listings-2" ng-repeat="season in PagedData">
                        <li class="featured">
                            <div class="listing-header bg-base">
                                {{season.Description}} Season
                                <div ng-if="season.SeasonId !== CurrentSeasonId" class="btn btn-icon btn-icon-right fa fa-gear MakeCurrentSeason SeasonHeaderMenuItem" title="Make Current Season" ng-click="MakeCurrentSeason(season.SeasonId)"></div>

                                <div ng-if="season.SeasonId === CurrentSeasonId" class="pull-right currentseason">Current Season</div>
                                <div ng-if="season.SeasonId !== CurrentSeasonId" class="btn btn-icon btn-icon-right fa-close pull-right SeasonHeaderMenuItem" title="Archive This Season" ng-click="ArchiveASeason(season.SeasonId, season.NumberOfRounds)"></div>
                            </div>
                            <div class="cell col-xs-12">
                                <div class="listing-body clearfix">
                                    <h3><a href="#">{{season.Description}} Season</a></h3>
                                </div>
                                <div class="listing-footer">
                                    <ul class="aux-info">
                                        <li><i class="fa fa-bar-chart-o"></i><strong>Rounds: </strong>{{season.NumberOfRounds | number:0}}</li>
                                        <li><i class="fa fa-smile-o"></i><strong>Top Score: </strong>{{season.TopScore | number:0}}</li>
                                        <li><i class="fa fa-frown-o"></i><strong>Worse Score: </strong>{{season.WorseScore | number:0}}</li>
                                        <li><i class="fa fa-calculator"></i><strong>Avg Score: </strong>{{season.AverageScore | number:1}}</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>