@{
    Layout = "_ToracGolfLayout";
    ViewBag.Title = "Add A Round";
}
@model  ToracGolf.ViewModels.Rounds.RoundAddViewModel

@section Breadcrumb{
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)
}

@section TopNav{
    @Html.Partial("_TopNav", new ToracGolf.ViewModels.Navigation.TopNavViewModel(true))
}

@section HandicapStatus{
    @Html.Partial("_HandicapStatus", Model.HandicapStatus)
}

@section Styles{
    <link href="~/lib/select2/assets/select2.css" rel="stylesheet" />
    <link href="~/lib/select2/assets/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/css/Rounds.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/jlinq/jlinq.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular/angular-animate.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/js/angular/toracgolfapp.js"></script>
    <script src="~/js/angular/common/httprequestinterceptor.js"></script>
    <script src="~/js/angular/common/modaldirective.js"></script>
    <script src="~/js/angular/common/numberonlydirective.js"></script>
    <script src="~/js/angular/common/datepickerdirective.js"></script>
    <script src="~/js/angular/common/ValidationService.js"></script>
    <script src="~/js/angular/rounds/roundhttp.js"></script>
    <script src="~/js/angular/common/select2directive.js"></script>
    <script src="~/js/angular/rounds/roundaddcontroller.js"></script>
}

@*so init is a method in my angular controller. we serialize the model and pass it into that method which set's the scope*@
<section ng-app="toracApp" ng-cloak ng-controller="RoundAddController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.RoundEnteredData))" class="slice slice-lg bg-image" style="background-image:url(images/backgrounds/RoundAdd.jpg);">

    <modal title="Saved Succesfully" showdialog="ShowSavedSuccessfulModal" primarybuttonclass="btn-primary" bodyhtml="Your Round Has Been Saved Successfully." closebuttontext="Ok" onmodalcloseevent="SaveARoundDialogOkEvent()">
    </modal>

    <div id="AddRound" class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="wp-block default user-form user-form-alpha no-margin">
                        <div class="form-header">
                            <h2>Add A New Round</h2>
                        </div>
                        <div class="form-body">
                            <form class="sky-form">
                                @Html.Partial("_AngularTokenSet", Model.TokenSet)
                                <fieldset id="RoundAddFieldSet">
                                    <section class="RoundAddSection">
                                        <label asp-for="RoundEnteredData.RoundDate" class="label"></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-edit"></i>
                                            <input id="RoundDate" date-picker maxDate="0" name="RoundDate" maxlength="100" ng-model="model.RoundDate" />
                                        </label>
                                    </section>
                                    <section class="RoundAddSection">
                                        <label>State</label>
                                        <label class="select">
                                            <select name="StateListing" ng-change="FetchCoursesForState()" ng-model="model.StateId" asp-for="RoundEnteredData.StateId" asp-items="Model.StateListing"></select>
                                        </label>
                                    </section>
                                    <section class="RoundAddSection">
                                        <label asp-for="RoundEnteredData.CourseId" class="label"></label>
                                        <label ng-show="CourseLookup.length > 0" class="select">
                                            <select id="CourseSelect" class="Select2DropDown" select2 ng-model="model.CourseId" ng-change="FetchTeeBoxesForCourse()" ng-options="course.CourseId as course.Name for course in CourseLookup"></select>
                                        </label>
                                        <div ng-show="CourseLookup.length == 0" class="alert alert-info AlertDiv">
                                            No Courses Available In This State
                                        </div>
                                    </section>
                                    <section class="RoundAddSection">
                                        <label asp-for="RoundEnteredData.TeeLocationId" class="label"></label>
                                        <label ng-show="CourseLookup.length > 0 && TeeBoxLookup.length > 0" class="select">
                                            <select ng-model="model.TeeLocationId" ng-options="teeBox.CourseTeeLocationId as teeBox.Description for teeBox in TeeBoxLookup"></select>
                                        </label>
                                        <div ng-show="CourseLookup.length == 0 || TeeBoxLookup == null || TeeBoxLookup.length == 0" class="alert alert-info AlertDiv">
                                            No Tee Boxes Are Available
                                        </div>

                                    </section>
                                    <section class="RoundAddSection">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                Yardage:  {{TeeBoxSelectedInfo.Yardage | number:0}}
                                            </div>
                                            <div class="col-xs-6">
                                                Par: {{TeeBoxSelectedInfo.Par}}
                                            </div>
                                        </div>
                                    </section>
                                    <section class="RoundAddSection">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                Rating: {{TeeBoxSelectedInfo.Rating}}
                                            </div>
                                            <div class="col-xs-6">
                                                Slope: {{TeeBoxSelectedInfo.Slope}}
                                            </div>
                                        </div>
                                    </section>
                                    <hr />
                                    <section class="RoundAddSection">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label asp-for="RoundEnteredData.Score" class="label"></label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-folder-o"></i>
                                                    <input type="text" name="Score" numbers-only numbers-only-allowOnlyInts="true" maxlength="3" ng-model="model.Score" />
                                                </label>
                                            </div>
                                            <div class="col-xs-6">
                                                <label asp-for="RoundEnteredData.NineHoleScore" class="label"></label>
                                                <input type="checkbox" name="NineHoleScore" ng-model="model.NineHoleScore" />
                                            </div>
                                        </div>
                                    </section>
                                    <section class="RoundAddSection">
                                        <div class="AlertDiv alert alert-warning">
                                            Max Score Per Hole Is <strong>{{TeeBoxSelectedInfo.MaxScorePerHole}}</strong> Strokes <br />
                                            Tee Box Handicap Is <strong>{{TeeBoxSelectedInfo.CourseTeeBoxHandicap}}</strong>
                                        </div>
                                    </section>
                                    <hr />
                                    <section id="OptionalStats" class="RoundAddSection">
                                        <div class="AlertDiv alert alert-warning">
                                            <span>*** Optional Stats To Track***</span>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label asp-for="RoundEnteredData.Putts" class="label"></label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-folder-o"></i>
                                                    <input type="text" name="Putts" numbers-only numbers-only-allowOnlyInts="true" maxlength="2" ng-model="model.Putts" />
                                                </label>
                                            </div>
                                            <div class="col-xs-6">
                                                <label asp-for="RoundEnteredData.GreensInRegulation" class="label"></label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-folder-o"></i>
                                                    <input type="text" name="GreensInRegulation" numbers-only numbers-only-allowOnlyInts="true" maxlength="2" ng-model="model.GreensInRegulation" />
                                                </label>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label asp-for="RoundEnteredData.FairwaysHit" class="label"></label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-folder-o"></i>
                                                    <input type="text" name="FairwaysHit" numbers-only numbers-only-allowOnlyInts="true" maxlength="2" ng-model="model.FairwaysHit" />
                                                </label>
                                            </div>
                                            <div class="col-xs-6">
                                                <label asp-for="RoundEnteredData.FairwaysHitPossible" class="label"></label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-folder-o"></i>
                                                    <input type="text" name="FairwaysHitPossible" numbers-only numbers-only-allowOnlyInts="true" maxlength="2" ng-model="model.FairwaysHitPossible" />
                                                </label>
                                            </div>
                                        </div>
                                    </section>
                                    <hr />
                                    <section class="RoundAddSection">
                                        @Html.Partial("_ValidationSummaryAngular")
                                    </section>
                                    <section class="RoundAddSection">
                                        <button ng-click="SaveARound()" class="btn btn-base btn-icon btn-icon-right btn-sign-in pull-right" type="submit">
                                            <span>Save</span>
                                        </button>
                                    </section>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>