@{
    Layout = "_ToracGolfLayout";
    ViewBag.Title = "Torac Golf";
}

@model ToracGolf.ViewModels.Home.IndexViewModel

@section Breadcrumb{
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)
}

@section TopNav{
    @Html.Partial("_TopNav", new ToracGolf.ViewModels.Navigation.TopNavViewModel(true))
}

@section HandicapStatus{
    @Html.Partial("_HandicapStatus", Model.HandicapStatus)
}

@section Styles{
    <link href="~/css/Dashboard.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/highcharts/js/highcharts.js"></script>
    <script src="~/lib/highcharts/js/modules/exporting.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular/angular-animate.js"></script>
    <script src="~/js/angular/toracgolfapp.js"></script>
    <script src="~/js/angular/common/httprequestinterceptor.js"></script>
    <script src="~/js/angular/Dashboard/DashboardHttp.js"></script>
    <script src="~/js/angular/Dashboard/DashboardController.js"></script>
}

<section ng-app="toracApp" ng-cloak ng-controller="DashboardController" ng-init="init('@Model.ViewType')" class="slice slice-lg bg-image" style="background-image:url(../images/backgrounds/barclays-pga-tour-fedex-cup-1st-round-1.jpg);">
    @Html.Partial("_AngularTokenSet", Model.TokenSet)
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div id="HandicapProgression" style="height: 400px; margin: 0 auto"></div>
            </div>

            <div class="col-md-4">
                <div class="sidebar">
                    <ul class="categories mb-20">
                        <li><a href="#" ng-click="DashboardView = 'Career'" ng-class="DashboardView == 'Career' ? 'DashboardViewActive':''">Career View</a></li>
                        <li><a href="#" ng-click="DashboardView = 'Season'" ng-class="DashboardView == 'Season' ? 'DashboardViewActive':''">Season View</a></li>
                    </ul>

                    <div class="panel panel-default panel-sidebar-1">
                        <div class="panel-heading"><h2>Last 5 Rounds</h2></div>
                        <div class="panel-body">
                            <div class="form-light" role="form">
                                <table class="table table-hover">
                                    <tr ng-repeat="roundToOutput in Last5Rounds">
                                        <td>{{roundToOutput.CourseName}}</td>
                                        <td>{{roundToOutput.RoundDate | date:'MM/dd/yyyy'}}</td>
                                        <td>{{roundToOutput.TeeBoxLocation}}</td>
                                        <td>{{roundToOutput.Score}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-sidebar-1">
                        <div class="panel-heading"><h2>Best Rounds</h2></div>
                        <div class="panel-body">
                            <div class="form-light" role="form">
                                <table class="table table-hover">
                                    <tr>
                                        <td>Beekman</td>
                                        <td>9/30/2015</td>
                                        <td>Middle</td>
                                        <td>90</td>
                                    </tr>
                                    <tr>
                                        <td>Links</td>
                                        <td>10/30/2015</td>
                                        <td>Middle</td>
                                        <td>90</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
