@{
    Layout = "_ToracGolfLayout";
    ViewBag.Title = "Change Passwords";
}
@model ToracGolf.ViewModels.Settings.ChangePasswordViewModel

@section Breadcrumb{
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)
}

@section TopNav{
    @Html.Partial("_TopNav", new ToracGolf.ViewModels.Navigation.TopNavViewModel(true))
}

@section HandicapStatus{
    @Html.Partial("_HandicapStatus", Model.HandicapStatus)
}

@section Styles{

}

@section Scripts{

    <script src="~/lib/toraclibrary/toracajax.js"></script>
    <script src="~/lib/react/react.js"></script>
    <script src="~/lib/react/react-dom.js"></script>
    <script src="~/js/react/common/reactvalidation.js"></script>
    <script src="~/js/react/changepassword/changemypassword.js"></script>
}

<section class="slice slice-lg bg-image" style="background-image:url(images/backgrounds/SeasonAdd.jpg);">

    @{
        var dialogButtons = new List<ToracGolf.ViewModels.Dialogs.DialogButton>{
            new ToracGolf.ViewModels.Dialogs.DialogButton("Ok", "btn-info", true)
        };
    }

    @Html.Partial("_Dialog", new ToracGolf.ViewModels.Dialogs.DialogViewModel("SaveSuccessfulDialog", "Password Changed", "Your password was changed successfully", dialogButtons))

    <div id="ChangeMyPassword" class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="wp-block default user-form user-form-alpha no-margin">
                        <div class="form-header">
                            <h2>Change My Password</h2>
                        </div>
                        <div class="form-body">
                            @Html.Partial("_AngularTokenSet", Model.TokenSet)

                            <form id="ChangePwForm" class="sky-form"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
